.home_container{
	overflow-y : hidden;
}

.side_menu_container{
	position: fixed !important;
	padding:50px 0 0 20px;
	background-color: #21252B;
	overflow: hidden;
	z-index : 5;
}
.side_menu{
	left:0;
	bottom:0;
}
.editor_container{
	margin-left: 250px;
	width: calc(100% - 250px);
	height: calc(100vh - 56px);
}