

.file_label{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    text-align: center;
	display: inline-block;
    padding: .5em .75em;
    color: #999;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

input[type="file"]{
	width : 1px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow : hidden;
	border: 0;
}

body {
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
 }
